/* .user-profile.nav-link.active {
    color: rgba(88, 173, 226, 0.8) !important;
  }
  
  .user-profile.nav-link.active:hover {
    color: rgba(88, 173, 226, 0.8) !important;
  }
  
  .user-profile.nav-link {
    color:black;
  }
  
  .user-profile.nav-link:hover {
    color:black;
  }
   */